<div class="post-comment rounded p-3 mt-3">
  <div class="comment-head">
    <img class="inline-block mr-3 rounded-circle" style="width: 35px" src="<%= image_path 'user_placeholder.jpg' %>" alt="">
    <%= comment.user.fname + ' ' + comment.user.lname %>
  </div>
  <div class="comment-time text-muted my-2">
    <small><%= post_date comment %></small>
  </div>
  <div class="comment-body">
    <%= comment.comment %>
  </div>
</div>