<div class="col-lg-3">
  <div class="account-side-menu bg-light rounded">
    <%= link_to account_path, class: 'user-data text-center p-3 d-link' do %>
      <img class="rounded-circle w-50 d-inline-block" src="<%= image_path 'user_placeholder.jpg' %>" alt="">
      <p class="d-inline-blcok mt-3 h4"><%= current_user.fname + ' ' + current_user.lname %></p>
    <% end %>
    <div class="m-2">
      <%= link_to 'New Post', new_post_path, class: 'btn btn-primary btn-block' %>
    </div>
    <% if current_user.subscriptions.present? %>
      <div class="subscriptions-list mt-1">
        <div class="title p-2">Subscriptions</div>
        <%= link_to 'All new posts', news_path, class: 'title p-2 mb-2 d-block' %>
        <% current_user.subscriptions.each do |subscription| %>
          <%= link_to followed_path(subscription.followed_id), class: 'subscription align-middle p-2 d-block' do %>
            <img class="rounded-circle w-25 d-inline-block mr-2" src="<%= image_path 'user_placeholder.jpg' %>" alt="">
            <%= subscription.followed.fname + ' ' + subscription.followed.lname %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>