<div class="row mt-3">
  <%= render 'side_menu' %>
  <div class="col-lg-9">
    <img class="rounded-circle mr-3" style="width: 45px" src="<%= image_path 'user_placeholder.jpg' %>" alt="">
    <%= @followed.fname + ' ' + @followed.lname %>
    <%= button_to 'Unsubscribe', { controller: :subscriptions, action: :destroy, user_id: @followed.id }, method: :delete, remote: true, class: 'btn btn-outline-success ml-2 btn-sm', form_class: 'd-inline-block user-subscribe-button', type: 'button' %>
    <div class="rounded">
      <% @posts.each do |post| %>
        <div class="card mt-3 index-post-preview" user-id="<%= post.user.id %>">
          <h5 class="card-header"><%= post.title %></h5>
          <div class="card-body">
            <p class="card-text"><%= post.content[0...500] + '...' %></p>
            <p class="card-text"><small class="text-muted"><%= post_date post %></small></p>
            <%= link_to 'Read More', post, class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
