<div id="login-input-wrap">
  <h3 class="text-center">Log In</h3>
  <%= form_for :auth, url: sessions_create_path, remote: true, data: { name: 'User' } do |form| %>
  <div class="form-group">
      <%= form.label :email, 'Email' %>
      <%= form.text_field :email, class: 'form-control', placeholder: 'example@gmail.com' %>
    </div>
    <div class="form-group">
      <%= form.label :password, 'Password' %>
      <%= form.password_field :password, class: 'form-control', placeholder: '********' %>
    </div>
    <span>or </span><%= link_to 'Sign Up', signup_path %>
    <div class="text-center">
      <%= submit_tag 'Log In', class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>