<div id="login-input-wrap">
  <h3 class="text-center">Sign Up</h3>
  <%= form_with model: @user, url: users_create_path do |form| %>
    <div class="form-group">
      <%= form.label :fname, 'First name' %>
      <%= form.text_field :fname, class: 'form-control', placeholder: 'John' %>
    </div>
    <div class="form-group">
      <%= form.label :lname, 'Last name' %>
      <%= form.text_field :lname, class: 'form-control', placeholder: 'Davis' %>
    </div>
    <div class="form-group">
      <%= form.label :email, 'Email' %>
      <%= form.text_field :email, class: 'form-control', placeholder: 'example@gmail.com' %>
    </div>
    <div class="form-group">
      <%= form.label :password, 'Password' %>
      <%= form.password_field :password, class: 'form-control', placeholder: '********' %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation, 'Password confirmation' %>
      <%= form.password_field :password_confirmation, class: 'form-control', placeholder: '********' %>
    </div>
    <span>or </span><%= link_to 'Login', login_path %>
    <div class="text-center">
      <%= form.submit 'Sign Up', class: 'btn btn-primary btn-lg' %>
    </div>
  <% end %>
</div>