<div class="row mt-3">
  <%= render 'side_menu' %>
  <div class="col-lg-9">
    <div class="rounded">
      <h4>New Posts</h4>
      <%= render 'posts/post_preview', collection: @posts %>
    </div>
  </div>
</div>
