<div class="row mt-3">
  <%= render 'side_menu' %>
  <div class="col-lg-9">
    <div class="rounded">
      <h4>My posts</h4>
      <% @posts.each do |post| %>
        <div class="card mt-3 index-post-preview" user-id="<%= post.user.id %>" post-id="<%= post.id %>">
          <h5 class="card-header"><%= post.title %></h5>
          <div class="card-body">
            <p class="card-text"><%= post.content[0...500] + '...' %></p>
            <p class="card-text"><small class="text-muted"><%= post_date post %></small></p>
            <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-primary mr-2' %>
            <%= link_to 'Delete', post_path(post), method: 'delete', remote: true, class: 'btn btn-danger', data: { confirm: 'Are you sure?', disable_with: 'Deleting...' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
