<%= button_to 'Subscribe', { controller: :subscriptions, action: :create, user_id: user_id }, remote: true, class: 'btn btn-outline-primary ml-2 btn-sm', form_class: 'd-inline-block user-subscribe-button', type: 'button' %>