var subButton = $('<%= render partial: action.to_s + '_button', locals: { :user_id => followed_id } %>');

if ($('.post-preview').length > 0)
  $('.post-preview[user-id=<%= followed_id %>]').find('.user-subscribe-button').replaceWith(subButton);
else
  $('.user-subscribe-button').replaceWith(subButton);