<%= button_to 'Unsubscribe', { controller: :subscriptions, action: :destroy, user_id: user_id }, method: :delete, remote: true, class: 'btn btn-outline-success ml-2 btn-sm', form_class: 'd-inline-block user-subscribe-button', type: 'button' %>