<% @posts.each do |post| %>
  <div class="card mt-3 index-post-preview post-preview" user-id="<%= post.user.id %>">
    <h5 class="card-header"><%= post.title %></h5>
    <div class="card-body">
      <h5 class="card-title">
        <img class="rounded-circle post-list-user-avatar mr-3" src="<%= image_path 'user_placeholder.jpg' %>" alt="">
        <%= post.user.fname + ' ' + post.user.lname %>

        <% if current_user && post.user.id != current_user.id %>
          <% if Subscription.where(follower_id: current_user.id, followed_id: post.user.id).present? %>
            <%= render partial: 'subscriptions/unsubscribe_button', locals: { user_id: post.user.id } %>
          <% elsif %>
            <%= render partial: 'subscriptions/subscribe_button', locals: { user_id: post.user.id } %>
          <% end %>
        <% end %>

      </h5>
      <p class="card-text"><%= post.content[0...500] + '...' %></p>
      <p class="card-text"><small class="text-muted"><%= post_date post %></small></p>
      <%= link_to 'Read More', post, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>