<%= form_with model: @post, data: { name: @post.class.name } do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control', rows: 10 %>
  </div>
  <%= form.submit submit_title, class: 'btn btn-primary' %>
<% end %>
