<div class="post-show mt-3 mb-5">
  <div class="username align-middle">
    <img class="inline-block mr-3 rounded-circle" src="<%= image_path 'user_placeholder.jpg' %>" alt="">
    <%= @post.user.fname + ' ' + @post.user.lname %>
  </div>

  <h3 class="mt-3"><%= @post.title %></h3>
  <span class="text-muted"><%= post_date @post %></span>

  <p class="mt-3"><%= @post.content %></p>

  <h3 class="mt-4">Comments</h3>
  <% if current_user %>
    <%= form_with model: @comment, url: post_comments_path(@post), data: { name: 'Comment' }, class: 'comment-form rounded bg-light p-3' do |form| %>
      <div class="form-group">
        <%= form.label 'Comment' %>
        <%= form.text_area :comment, class: 'form-control', placeholder: 'Type here', rows: 4 %>
      </div>
      <%= form.submit 'Leave comment', class: 'btn btn-primary' %>
    <% end %>
  <% end %>
  <div class="comments-list">
    <%= render partial: 'comments/comment', collection: @post.comments %>
  </div>
</div>