// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post-preview
{
  .post-list-user-avatar
  {
    width: 45px;
  }
}

.post-show
{
  .username
  {
    img
    {
      width: 70px;
    }
  }
}

.post-comment
{
  background: #e8e8e8;
}