// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login-input-wrap
{
  margin: 90px auto;
  background: #B6B6B6;
  border-radius: 6px;
  padding: 20px;
  width: 35%;
  background: #eaeaea;
}

.account-side-menu
{
  .subscriptions-list
  {
    .title
    {
      font-size: 1.3rem;
    }

    .subscription
    {
      border-bottom: 1px solid #d8d8d8;
      cursor: pointer;
      color: #212529;

      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;

      &:hover
      {
        text-decoration: none;
        background: #e6e8ea;
      }

      img
      {
        max-width: 40px;
      }
    }
  }
}