var errorsData = new Array();
var modelName = '<%= object.class %>';
var form = $('form[data-name=' + modelName + ']');
form.find('.input-error').remove();

<% object.errors.full_messages.each do |error| %>
  errorsData.push(
    $('<%= j render partial: '/error_message', locals: { message: error } %>')
  );
<% end %>

console.log(form);

form.prepend(errorsData);