<!DOCTYPE html>
<html>
  <head>
    <title>Blogcms</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

    <div class="bg-info">
      <div class="container px-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to 'Home', root_path, class: 'nav-link' %>
              </li>
            </ul>

            <ul class="navbar-nav float-lg-right">
              <% if current_user %>
                <li class="nav-item">
                  <%= link_to account_path, class: 'nav-link' do %>
                    <i class="far fa-user-circle mr-1"></i>
                    <%= current_user.fname %>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Logout', logout_path, method: :delete, class: 'nav-link' %>
                </li>
              <% elsif %>
                <li class="nav-item">
                  <%= link_to 'Login', login_path, class: 'nav-link' %>
                </li>
                <span class="navbar-text">or</span>
                <li class="nav-item">
                  <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="container application-wrapper">
      <% flash.each do |key, message| %>
        <div class="mt-3 alert alert-<%= key %>" role="alert">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
